* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

/* Carousel */
  .carousel {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    overflow: scroll;
    width: 980px;
  }

  .mover {
    animation: carousel 10s ease-in-out 0s 2 normal both;
    animation-play-state: paused;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
  }

/* ProductCard */
.product-card {
  /* animation: carousel 3s linear 0s infinite normal both;
  animation-play-state: paused; */
  min-width: 300px;
  min-height: 300px;
  background-color: grey;
  border: 2px solid black;
  margin: 0px 10px 0px 10px;
}

@keyframes carousel {
  0% {
    transform: translate(0%)
    /* margin-left: 0%; */
  }

  50% {
    transform: translate(-50%)
  }

  100% {
    transform: translate(-100%)
  }
}
